// サイズの関数

$baseFontSize: 16;

@function rem($pixels) {
    @return $pixels / $baseFontSize * 1rem;
}

// 配色の関数
$colors: (
    white: #fff,
    gray: #707070,
    lightGray: #E7E7E7,
    buttonColor: #978F10,
);

@function colors($key) {
    @return map-get($colors, $key);
}

// $global: #978F10;
// $white: #fff;
// $gray: #707070;
// $lightGray: #E7E7E7;